* {
  box-sizing: border-box;
  /* Makes doing measurements w/ borders and paddings much easier. */
}

.gallery-img {
  display: none;
  max-height: 600px;
}

.active {
  display: block;
}

.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Last three items together allow for centering content on page. */
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Last three items together allow for centering content on page. Align buttons under image-gallery. */
}

.btn {
  background-color: #0074d9;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  /* Want buttons to have a little vertical spacing but a lot of horizontal spacing. */
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  /* Make something look clickable when moused over. */
}

.prev {
  margin-right: 15px;
}

.btn:disabled {
  background-color: #666;
  cursor: not-allowed;
  /* Gray out button and show not-allowed symbol. */
}
